.logo-container {
    text-align: center;
}

.logo-container img {
    height: 150px;
}

.charts-container, .total-risk-container {
    text-align: center;
    margin-top: 30px;
}

ngx-gauge {
    margin: 15px;
    background-color: rgb(86, 86, 86);
    border-radius: 50%;
    color: white
}

.total-risk-container {
    border-radius: 50%;
    margin: 60px auto 30px auto;
    height: 250px;
    width: 250px;
}

.total-risk-container .content {
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.total-risk-container.low {
    background-color: #36d39f;
}

.total-risk-container.medium {
    background-color: #FF8C00;
}

.total-risk-container.high {
    background-color: #ed0215;
}

.total-risk-container .content p {
    margin: auto;
}

.total-risk-container .content .value {
    font-size: 4.5em;
}