<div class="app-body">
    <div class="logo-container">
        <img src="assets/logo-dark.png">
    </div>
    
    <div class="total-risk-container" [ngClass]="{ 'low': totalRiskVal <= 33, 'medium': totalRiskVal > 33 && totalRiskVal <= 66, 'high': totalRiskVal > 66 }">
        <div class="content">
            <p class="value">{{ totalRiskTxt }}</p>
        </div>
    </div>
    
    <div class="charts-container">
        <ngx-gauge *ngFor="let data of chartDatas;"
            [type]="data.gaugeType"
            [value]="data.gaugeValue"
            [label]="data.gaugeLabel"
            [append]="data.gaugeAppendText"
            [thresholds]="thresholdConfig"
            [size]=150
            [thick]=12
            [duration]=500 >
        </ngx-gauge>
    </div>
</div>